@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
}

.text-calm-green{
    color: #AAC9A7;
}

.bg-calm-green{
    background: #AAC9A7;
}
.border-calm-green{
    border-color: #AAC9A7;
}